

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.text {
  margin: 0;
  padding: 0;
  font-size: 10rem;
    color: white;
  /*background: -webkit-linear-gradient(#ffffff, #001aff);*/
  /*-webkit-background-clip: text;*/
  /*-webkit-text-fill-color: transparent;*/
  position: absolute;
  /*margin: 0 auto;*/
  top: 50%;
  left: 30%;
  z-index: 100;
}
canvas {
  margin: 0;
  padding: 0;
}
